#registerBody {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://i.pinimg.com/originals/d5/e1/54/d5e154c2fd72fc5dab6ab4440fab755f.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(3px);
  }
  
  .card {
    width: 50vh;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 10px 100px rgba(255, 0, 0, 0.3);
  }