#menuBodyContainer,#menuBodyCss,#reserveBodyCss,#reserveContainer{
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;    
}