#cinemaListBody{
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
    background-color: rgb(99, 14, 99);
    background-size: cover;
    background-position: center;
}

#cinemaListContainer {
   
    margin-top: 10px !important;
    
    width: 100%;
    height: 95vh;

  
}

#buttonCList {
    
    font-size: 15px;
    background: #4c00b4;
    margin: 10px !important;
    width: 20vh !important;
    height: 5vh !important;
}

#buttonContainer,#listContainer, #movieDiscriptionContainer, #cenimaDiscription, #cenimaTimeSchedule{
    border: solid;
    margin: 1vh;
    
}

#imageContainer {
    width: 40rem;
    height: 50rem;
    padding: 10px;
    border: solid;
    margin: 1vh;
}
#listContainer{
    display: flex;
    overflow: auto;
}
#movieDiscriptionContainer {
    width: 100%;
}
#cenimaTitle,#movieDiscriptionContainer{
    margin: 2vh;
}
#cenimaTitle{
    font-size: 5vh;
    border: solid;
    margin: 1vh;
}
#cenimaDiscription{
    padding: 1vh;
    font-size: 3vh;
}

#cenimaTimeSchedule{
    height: 72%;
}