

#dateListContainer{
    margin-left:35%;
    margin-top:5%;
}
#dateListSceduleContainer {
    margin-top: 0%;
    border: solid;
    height: 90vh;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


#movieSchedule {
    margin-bottom: 5%;
    margin-top: 5%;
}