@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Pixelify+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Hedvig+Letters+Serif:opsz@12..24&family=Montserrat:wght@300;600&family=Pixelify+Sans&display=swap");

#cinemaListBody {
  /* display: flex;
    justify-content: center; 
    align-items: center;  */
  background-color: white;
  /* background-size: cover; */
  background-position: center;
  width: 100%;
  height: 100vh;
}
#cinema {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  background-color: black;
  padding: 1%;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
}

/* #cinemaListContainer {
    margin-top: 10px !important;
    width: 100%;
    height: 95vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

} */

#buttonCList {
  font-size: 20px;
  font-weight: 10%;
  /* border: black solid 2px; */
  border: none;
  border-radius: 10px;
  background: red;
  margin: 10px !important;
  width: 20vh !important;
  height: 5vh !important;
}
#buttonCList:hover {
  background-color: white;
  cursor: pointer;
}
/* #buttonContainer,#cinemaDescription, #cinemaTimeSchedule{
    border: solid;
    margin: 1vh;
    
} */

#listContainer {
  display: flex;
  overflow: auto;
  max-height: 100%;
}

#movieDescriptionContainer {
  width: 100vw;
  height: 100%;
}
/* #cinemaTitle,#movieDescriptionContainer{
    margin: 2vh;
} */
.imageAndTitle {
  /* border:red solid 4px; */
}
#imageContainer {
  width: 36rem;
  height: 31.5rem;
  padding: 10px;
  /* border: solid;
    margin: 1vh; */
}

#cinemaTitle {
  font-size: 4vh;
  color: black;
  font-weight: border;
  /* border: solid;
    margin: 1vh; */
  text-align: center;
  font-family: "Hedvig Letters Serif", serif;
}
#cinemaDescription {
  padding: 2vh;
  margin-left: 3vh;
  font-size: 2vh;
  height: 20%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  font-family: "Nanum Myeongjo", cursive;
  color: black;

  &::-webkit-scrollbar {
    width: 7px; /* width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: red; /* color of the thumb */
    border-radius: 10px; /* roundness of the thumb */
  }

  &::-webkit-scrollbar-track {
    background-color: white; /* color of the track */
  }
}

#cinemaTimeSchedule {
  height: 79%;
  overflow-y: auto;
}

.cinemaTimeContainer {
  display: flex;
  border: solid;
  border-radius: 10px;
  margin: 1vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.cinemaContents {
  margin: 2vh;
}

#selectButton {
  border: none;
  background-color: red !important;
  color: black;
}

#selectButton:hover {
  background-color: white !important;
  cursor: pointer;
}
