

#menuBodyCss{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 30%;
    border: solid;
    height: 50vh;
}

#buttonReserve,#buttonCancel,#buttonLogOut{
   margin: 8%;
   height: 10%;
   width:  80%;
}


#menuBodyContainer,
#menuBodyCss {
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}